# NumPy
- 고성능 과학 계산용 패키지로 강력한 N차원 배열 객체
- 반복문 없이 데이터 배열에 대한 처리, 지원 빠르고 편리
- 데이터 과학 도구에 대한 생태계의 핵심을 이루고 있음

In [1]:
import numpy as np

## 배열 생성

### 1차원 배열
- 리스트 --> 배열로 전환 [ ] 포함해야함

In [2]:
a1 = np.array([1, 2, 3, 4, 5])

In [3]:
print(a1)

[1 2 3 4 5]

- nd(n dimension) = n차원

In [4]:
print((type(a1)))

<class 'numpy.ndarray'>

In [5]:
print(a1.shape)

(5,)

In [6]:
print(a1[0])

1

- 엘리먼트 수정

In [7]:
a1[0] = 10

In [8]:
print(a1[0])

10

### 2차원 배열
- 리스트 안에 리스트가 내포된 형태 [ [ ] ]

In [9]:
a2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [10]:
print(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [11]:
print(a2.shape)

(3, 3)

In [12]:
print(a2[0,0], a2[1,2], a2[2,2])

1 6 9

### 3차원 배열

In [13]:
a3 = np.array([ [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ],
                [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ],
                [ [1, 2, 3,], [4, 5, 6], [7, 8, 9] ] ])

In [14]:
print(a3)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]

In [15]:
print(a3.shape)

(3, 3, 3)

## 배열 생성 및 초기화

- 0으로 10개 엘리먼트를 갖는 배열 생성

In [16]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

- 1로 3행 3열의 배열 생성

In [17]:
np.ones((3, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

- ((3행 3열 배열 생성), 채워 넣을 숫자)

In [18]:
np.full((3, 3), 1.23)

array([[1.23, 1.23, 1.23],
       [1.23, 1.23, 1.23],
       [1.23, 1.23, 1.23]])

- 단위 행렬 I 를 생성 A * I = A
- 정사각형 행렬이기 때문에 인수는 하나

In [19]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

- 삼각 행렬로 행렬의 형태만 갖는 인수 하나만 가짐

In [20]:
np.tri(3)

array([[1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.]])

- _like(a1) a1의 형태의 배열로 0을 채움

In [21]:
print(a1)
np.zeros_like(a1)

[10  2  3  4  5]

array([0, 0, 0, 0, 0])

In [22]:
print(a2)
np.ones_like(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

- np.full_like 사용때 소수를 넣으려면 dtype = float 추가

In [23]:
print(a3)
np.full_like(a3, 10.2)

[[[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]

 [[1 2 3]
  [4 5 6]
  [7 8 9]]]

array([[[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]],

       [[10, 10, 10],
        [10, 10, 10],
        [10, 10, 10]]])

In [24]:
np.full_like(a3, 10.2, dtype=float)

array([[[10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2]],

       [[10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2]],

       [[10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2],
        [10.2, 10.2, 10.2]]])

### 생성한 값으로 배열 생성
- 값을 생성
- 그 값으로 배열 생성

- 정수 번위로 배열 생성
- 0 ~ 29 , 2 단위로

In [25]:
np.arange(0, 30, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

- 범위 내에서 균등 간격의 배열 생성
- 0 ~ 1, 5개의 균등한 배열

In [26]:
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

- 범위 내에서 균등 간격으로 로그 스케일로 배열 생성

In [27]:
np.logspace(0.1, 1, 20)

array([ 1.25892541,  1.40400425,  1.565802  ,  1.74624535,  1.94748304,
        2.1719114 ,  2.42220294,  2.70133812,  3.0126409 ,  3.35981829,
        3.74700446,  4.17881006,  4.66037703,  5.19743987,  5.79639395,
        6.46437163,  7.2093272 ,  8.04013161,  8.9666781 , 10.        ])

### 랜덤값으로 배열 생성

- 실수 랜덤한 수의 배열 생성( (형태) )

In [28]:
np.random.random((3, 3))

array([[0.32853886, 0.79064761, 0.47157187],
       [0.52750751, 0.45712819, 0.8381841 ],
       [0.56929914, 0.5538838 , 0.50537806]])

- 일정 구간의 랜덤 정수의 배열 생성(0 ~ 10, (형태) )

In [29]:
np.random.randint(0, 10, (3, 3))

array([[8, 2, 4],
       [5, 2, 8],
       [3, 3, 0]])

- 정규 분포 랜덤한 수의 배열
- 평균 = 0 , 표준편차 = 1

In [30]:
np.random.normal(0, 1, (3,3))

array([[ 0.11347539,  0.21202094, -0.74646839],
       [ 0.01529012,  1.21289018,  0.91989039],
       [ 0.66742729, -0.7250953 , -0.06143242]])

- 균등분포를 고려한 랜덤한 수의 배열 생성

In [31]:
np.random.rand(3,3)

array([[0.03046927, 0.57304826, 0.14524936],
       [0.49596893, 0.58240482, 0.22044619],
       [0.21445002, 0.92420719, 0.98153754]])

- 표준정규분포를 고려한 랜덤한 수의 배열

In [32]:
np.random.randn(3,3)

array([[-0.63834915,  0.1399917 , -1.08874135],
       [-2.02234283,  0.16888972, -0.33339063],
       [-0.53679765, -0.10560866, -0.18752   ]])

### 표준 데이터 타입

- int 값으로 0을 줌

In [33]:
np.zeros(20, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

- bool T or F , 1 = T

In [34]:
np.ones((3, 3), dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

## 날짜 시간 배열 생성

- 문자열 -> 날짜열로 바꿈[D = day]

In [35]:
date = np.array('2020-01-01', dtype = np.datetime64)
date

array('2020-01-01', dtype='datetime64[D]')

- dtype 을 바꾸고 연산이 가능해짐 / 기존 날짜 + 숫자

In [36]:
date + np.arange(12)

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
      dtype='datetime64[D]')

In [37]:
datetime = np.datetime64('2021-06-06 12:00')
datetime

numpy.datetime64('2021-06-06T12:00')

- ns = 나노 초를 의미

In [38]:
datetime = np.datetime64('2021-06-06 12:00:12.34', 'ns')
datetime

numpy.datetime64('2021-06-06T12:00:12.340000000')

## 배열 조회

In [39]:
def array_info(array):
    print(array)
    print('ndim', array.ndim)
    print('shape', array.shape)
    print('dtype', array.dtype)
    print('size', array.size)
    print('itemsize', array.itemsize)
    print('nbytes', array.nbytes)
    print('strides', array.strides)

- itemsize = item 하나가 4bytes라는 의미
- nbytes = item(4) * 엘리먼트 수(5) = 20
- strides = 10 -> 2 -> 3 -> 4-> 5 다음 엘리먼트로 넘어가는데 4bytes

In [40]:
array_info(a1)

[10  2  3  4  5]
ndim 1
shape (5,)
dtype int32
size 5
itemsize 4
nbytes 20
strides (4,)

- strides = (12, 4) 엘리먼트를 넘어가는데 4bytes
- 다른 행으로 넘어가는데 12bytes(4*3)

In [41]:
array_info(a2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
ndim 2
shape (3, 3)
dtype int32
size 9
itemsize 4
nbytes 36
strides (12, 4)

## 인덱싱

In [42]:
print(a1)
print(a1[0])
print(a1[2])
print(a1[-1])
print(a1[-2])

[10  2  3  4  5]
10
3
5
4

In [43]:
print(a2)
print(a2[0, 0])
print(a2[0, 2])
print(a2[1, -1])
print(a2[2, -1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1
3
6
9

## 슬라이싱

- [::2] 0 ~ 끝까지 두 칸씩
- [::-1] 0 ~ 끝까지 거꾸로 1 칸씩

In [44]:
print(a1)
print(a1[0:2])
print(a1[0:])
print(a1[:1])
print(a1[::2])
print(a1[::-1])

[10  2  3  4  5]
[10  2]
[10  2  3  4  5]
[10]
[10  3  5]
[ 5  4  3  2 10]

In [45]:
print(a2)
print(a2[1])
print(a2[1, :])
print(a2[:2, :2])
print(a2[1:, ::-1])
print(a2[::-1, ::-1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[4 5 6]
[4 5 6]
[[1 2]
 [4 5]]
[[6 5 4]
 [9 8 7]]
[[9 8 7]
 [6 5 4]
 [3 2 1]]

## 불리언 인덱싱
- 배열 각 요소의 선택 여부를 불리언으로 지정
- True 값인 인덱스의 값만 조회
- 특정 조건을 불리언 인덱싱을 주고 그 결과에 대해서 원하는 배열의 값을 받을 때 많이 사용

In [46]:
print(a1)
bi = [False, True, True, False, True]
print(a1[bi])

[10  2  3  4  5]
[2 3 5]

In [47]:
print(a2)
bi = np.random.randint(0, 2, (3, 3), dtype = bool)
print(bi)
print(a2[bi])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ True False False]
 [ True False False]
 [False False  True]]
[1 4 9]

## 팬시 인덱싱

In [48]:
print(a1)
print(a1[0], a1[2])
ind = [0, 2]
print(a1[ind])
ind2 = np.array([[0,1], [2,0]])
print(a1[ind2])

[10  2  3  4  5]
10 3
[10  3]
[[10  2]
 [ 3 10]]

In [49]:
print(a2)
row = np.array([0, 2]) # 0행 , 2행
col = np.array([1, 2]) # 1열 , 2열

print(1 , a2[row, col]) # 0행 1열 , 2행 2열
print(2 , a2[row, :])   # 0행 모든열, 2행 모든열
print(3 , a2[:, col])   # 모든 행, 1열, 2열
print(4 , a2[row, 1])   # 0행 2행 , 1열
print(5 , a2[2, col])   # 2행 , 1열 2열
print(6 , a2[row, 1:])  # 0행 2행 , 1열~
print(7 , a2[1: , col]) # 1행~ , 1열 2열

[[1 2 3]
 [4 5 6]
 [7 8 9]]
1 [2 9]
2 [[1 2 3]
 [7 8 9]]
3 [[2 3]
 [5 6]
 [8 9]]
4 [2 8]
5 [8 9]
6 [[2 3]
 [8 9]]
7 [[5 6]
 [8 9]]

## 배열 값 삽입 / 수정 / 삭제 / 복사

### 삽입
- insert() 배열의 특정 위치에 값 삽입
- axis 지정하지 않으면 1차원 배열로 변환
- 추가할 방향을 axis로 지정
- 원본 배열 변경없이 새로운 배열 변환

#### insert(배열, 위치, 삽입값, axis=)
- a1 이라는 원본 배열은 insert()를 하더라도 바뀌지 않는다

In [50]:
print(a1)
b1 = np.insert(a1, 0, 55)
print(b1)
print(a1)

[10  2  3  4  5]
[55 10  2  3  4  5]
[10  2  3  4  5]

In [51]:
print(a2)
b2 = np.insert(a2, 1, 10, axis=0)
print(b2)
c2 = np.insert(a2, 1, 10, axis=1)
print(c2)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 1  2  3]
 [10 10 10]
 [ 4  5  6]
 [ 7  8  9]]
[[ 1 10  2  3]
 [ 4 10  5  6]
 [ 7 10  8  9]]

### 수정

In [52]:
print(a1)
a1[0] = 4
a1[1] = 5
a1[2] = 6
a1[3] = 4
a1[3] = 5
print(a1) # 1. 엘리먼트를 각각 바꿔주는 방법

a1[:1] = 9 
print(a1) # 2. 엘리먼트를 범위로 바꿔주는 방법

i = [1, 3, 4]
a1[i] = 0
print(a1) # 3. 펜시 인덱싱으로 바꾸는 방법 "리스트"

j = np.array([1, 3, 4])
a1[j] = 10
print(a1) # 4. 펜시 인덱싱으로 바꾸는 방법 "배열"

a1[j] -=5
print(a1) # 5. 펜시 인덱싱 -+*/ 숫자 연산

[10  2  3  4  5]
[4 5 6 5 5]
[9 5 6 5 5]
[9 0 6 0 0]
[ 9 10  6 10 10]
[9 5 6 5 5]

In [53]:
print(a2)
a2[0, 0] = 1
a2[1, 1] = 2
a2[2, 2] = 3
a2[0] = 1 # 해당 하는 행 모두
print(a2) # 1. 엘리먼트를 각각 바꿔주는 방법
a2[1:, 2] = 10
print(a2) # 2. 엘리먼트 범위로 바꿔주는 방법
row = np.array([0, 1])
col = np.array([1, 2])
a2[row, col] = 11
print(a2) # 3. 펜시 인덱싱으로 바꾸는 방법 "배열"

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 1 1]
 [4 2 6]
 [7 8 3]]
[[ 1  1  1]
 [ 4  2 10]
 [ 7  8 10]]
[[ 1 11  1]
 [ 4  2 11]
 [ 7  8 10]]

### 삭제

#### delete(배열, 위치, axis=)
- 배열의 특정 위치에 값 삭제
- axis 지정하지 않으면 1차원 배열로 변환
- 삭제할 방향 axis로 지정
- 원본 배열 변경 없이 새로운 배열 변환

In [54]:
print(a1)
b1 = np.delete(a1, 1)
print(b1)
print(a1)

[9 5 6 5 5]
[9 6 5 5]
[9 5 6 5 5]

In [56]:
print(a2)
b2 = np.delete(a2, 1, axis = 0) # 1 행 제거
print(b2)
c2 = np.delete(a2, 1, axis = 1) # 1 열 제거
print(c2)

[[ 1 11  1]
 [ 4  2 11]
 [ 7  8 10]]
[[ 1 11  1]
 [ 7  8 10]]
[[ 1  1]
 [ 4 11]
 [ 7 10]]

### 복사
- 리스트 자료형과 달리 배열의 슬라이스는 "복사본이 아님"
- 리스트 자료형은 복사본으로 리턴됨

In [58]:
print(a2)
print(a2[:2, :2])
a2_sub = a2[:2, :2]
print(a2_sub)
a2_sub[:, 1] = 0
print(a2_sub)         # 원본 배열 마저 바뀜

[[ 1  0  1]
 [ 4  0 11]
 [ 7  8 10]]
[[1 0]
 [4 0]]
[[1 0]
 [4 0]]
[[1 0]
 [4 0]]

In [59]:
print(a2)
a2_sub_copy = a2[:2, :2].copy()
print(a2_sub_copy)
a2_sub_copy[:, 1] = 0
print(a2_sub_copy)
print(a2)            # 원본 바뀜 X

[[ 1  0  1]
 [ 4  0 11]
 [ 7  8 10]]
[[1 0]
 [4 0]]
[[1 0]
 [4 0]]
[[ 1  0  1]
 [ 4  0 11]
 [ 7  8 10]]